   
html {display: table;
        margin: auto;}
    
body {background: #CFD8DC; 
    margin: 0; padding: 0;
    display: table-cell;
    vertical-align: middle;
    font-family: "Raleway", sans-serif;}


h3, p {color: #444;
    text-align: left;
   margin: 0;}

a {color:lightseagreen }


#header {display: grid;
    grid-template-columns: 120px 500px 120px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444}


.title {
    background-color: #fff;
    color: dimgrey;
    border-radius: 0px;
    padding: 0px;
    text-align: center;}

.logos {
    background-color: #fff;
    color: #fff;
    border-radius: 5px;
    padding: 20px 0px;}

.text-containers {
        padding: 20px 0px;
        width: 760px;
        text-align: justify;}

#plot {text-align:center;
}

#footer {display: grid;
    grid-template-columns: 120px 620px;
    grid-gap: 10px;
    color: #444}

#eu-logo {
        border-radius: 5px;
        padding: 20px;}

#text-container-akn {
    padding: 35px 10px;
    width: 620px;
    text-align: justify;}







